body{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background: black;
}

.header{
    width:700px;
    margin:  30px auto;
    text-align: center;
}
.flex{
    display: flex;
    
}
input{
    width: 560px;
    padding: 14px 20px;
    border-radius:  12px 0 0 12px;
    font-size: 16px;
    border: none;
    background-color: #ffffff33;
    color: white;
    transition: .3s;
    border: none;
}
input:focus{
    outline: none;
    background-color: #ffffff1e;
}
button{
  background-color: rgba(255, 0, 0, 0.609);
  width: 140px;
  border: none;
  color: white;
  border-radius: 0 12px 12px 0 ;
  transition: .3s;
}
button:hover{
    background-color: red;
    cursor: pointer;
}
.header img{
    height: 70px;
    background-color: black;
}
.header p{
    color: rgba(176, 173, 173, 0.518);
}
h2{
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0%;
}

.container{
    width: 700px;
    margin: 16px auto;
   
}
.movie-content{
    display: flex;
    margin-top: 0;
}
.movie-content h1{
    color: white;
}
.movie-content p{
    color: rgba(231, 231, 231, 0.512);
    font-size: medium;
    padding-right: 50px;

}
.movie-content img{
    margin-top: 20px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.hidden{
    display: none;
}
#error{
    font-weight: bold;
    font-size: xx-large;
    color: rgba(255, 255, 255, 0.733);
    text-align: center;
    margin-top: 150px;

}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #e50914;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
}

@keyframes spin {
   to {
     transform: translate(-50%, -50%) rotate(360deg);
   }
}